.containerNavbar{
    width: 100%;
    height: 10vh;
    background-color: rgb(231, 235, 239);
    display: flex;
    align-items: center;
    justify-content:flex-start;
}

.containerList{
    display: flex;
    justify-content:center;
    align-items:flex-start;
    gap: 30px;
}